@page
@model IndexModel
@inject Project_Hashtag.Data.AccessControl accessControl
@{
    ViewData["Title"] = "Facegram";
}


<ul class="flow">
    <li class="addNewPost">
    <form method="post" enctype="multipart/form-data">
        <div id="newPostTitle">
            <div class="profilePic"></div>
            <input type="text" name="desc" placeholder="What´s happening?">
            <span asp-validation-for="desc" class="text-danger"></span>
        </div>
        <input type="file" name="photo">
        <p>Choose a tag:</p>
        <input type="text" name="tag" />
        <button type="submit">Post</button>
    </form>
    </li>
    @foreach (var post in Model.Posts)
    {
        var reports = @Model.database.Reports.Where(r => Model.PeopleYouFollow.Select(p => p.UserID).Contains(r.UserID) && r.PostID == post.ID).Count();
        var poster = Model.Users.Single(x => post.UserID == x.ID);
        if (post.UserID == Model.LoggedIn.LoggedInAccountID)
        {
            continue;
        }
        <li>
            @if (reports == 1)
            {
                <div class="reportWarning"> <img src="~/information.png" /> <p> @reports person you follow has reported this post as untrustworthy.</p></div>
            }
            else if (reports > 0)
            {
                <div class="reportWarning"> <img src="~/information.png" /> <p> @reports people you follow have reported this post as untrustworthy.</p></div>
            }
            <div class="postProfile">
				<a asp-page="Profile" asp-route-userId="@poster.ID" class="postProfileBox">
                    <div class="profilePic"> </div> 
                    <pre>@poster.Name</pre>
                </a>
                <p>· @post.TimeSincePost()</p>
                <form method="post" asp-page-handler="report" asp-route-id="@post.ID"> <label class="report"> <button type="submit"></button> </label></form>
            </div>
            <p class="postText"> @post.Description</p>
            @if (post.PictureUrl != null)
            {
                <div class="image">
                      <img src="@post.PictureUrl" alt="Error loading picture" />       
                </div>
            }
            <div class="interaction">
                <form method="post" asp-page-handler="like" asp-route-id="@post.ID">
                    <label>
                        <button type="submit"></button>
                        <p>@post.LikeCount</p>
                    </label>
                </form>
                <a asp-page="post" asp-route-postID="@post.ID">
                    <div class="comments">
                        
                    </div>
                    <p class="commentCount">@Model.Comments.Where(x => x.PostID == post.ID).Count()</p>
                </a>
            </div>
            <p>Comments: </p>
            @for (int i = 0; i < Math.Min(3, Model.Comments.Where(c => c.PostID == post.ID).Count()); i++)
            {
                var comment = @Model.Comments.Where(c => c.PostID == post.ID).OrderByDescending(c => c.CreatedDate).ToList()[i];
                <div class="postProfile">
                    <a asp-page="Profile" asp-route-userId="@comment.User.ID" class="postProfileBox">
                        <div class="profilePic"> </div>
                        <pre>@comment.User.Name</pre>
                    </a>
                </div>
                <p>@comment.Text </p>
                <p>@comment.TimeSinceComment()</p>

            }
            <form method="post" asp-page-handler="comment" asp-route-id="@post.ID">
                <input type="text" name="content">
                <input hidden name="userId" value="@post.UserID">
                <button type="submit">Comment</button>
            </form>
            </li>
    }
</ul>
            @*<p>Comments: </p>
            <ul>
                @foreach (var comment in Model.Comments.Where(x => x.PostID == post.ID).OrderBy(z => z.CreatedDate))
                {
                    var user = Model.Users.Single(x => x.ID == comment.UserID);

                    <li>
                        <p>@comment.Text </p>
                        <a asp-page="Profile" asp-route-userId="@user.ID"><pre>  by: @user.Name</pre></a>
                        @if(comment.UserID == Model.LoggedIn.LoggedInAccountID)
                        {
                        <form method="post" asp-page-handler="deletecomment" asp-route-id="@post.ID"><button type="submit">Delete Comment</button></form>
                        }

                    </li>
                }
            </ul>

            <form method="post" asp-page-handler="comment" asp-route-id="@post.ID">
                <input type="text" name="content"> 
                <button type="submit">Comment</button>
                </form>*@
