@page
@model IndexModel
@inject Project_Hashtag.Data.AccessControl accessControl
@{
    ViewData["Title"] = "Home page";
}

<p>Add new post+</p>
<link rel="stylesheet" href="~/css/site.css" />
<form method="post">
    <p>Text:</p>
    <input type="text" name="desc">
    <p>Choose a tag:</p>
    <select name="tag">
        @foreach (var tag in @Model.Tags)
        {
            <option value="@tag.Id"> @tag.Name</option>
        }
    </select>
    <button type="submit">Post</button>
</form> 

<ul>
    @foreach (var post in Model.Posts)
    {
        var poster = Model.Users.Single(x => post.UserID == x.ID);
        <li>
            <p>
                <a asp-page="Profile" asp-route-userId="@poster.ID"> <pre> @poster.Name</pre></a>
            </p>
            <p> @post.Description</p>
            @if (@Model.Tags.Single(x => x.Id == post.TagID).Id != 1)
            {
                <p>Tag: @Model.Tags.Single(x => x.Id == post.TagID).Name</p>
            }
            <p> Date: @post.CreatedDate</p>
            <p>Likes: @post.LikeCount</p>
            <form method="post" asp-page-handler="like" asp-route-id="@post.ID"><button type="submit">Like</button></form>

            <p>Comments: </p>
            <ul>
                @foreach (var comment in Model.Comments.Where(x => x.PostID == post.ID).OrderBy(z => z.CreatedDate))
                {
                    var user = Model.Users.Single(x => x.ID == comment.UserID);

                    <li>
                        <p>@comment.Text </p>
                        <a asp-page="Profile" asp-route-userId="@user.ID"><pre>  by: @user.Name</pre></a>
                    </li>
                }
            </ul>

            <form method="post" asp-page-handler="comment" asp-route-id="@post.ID">
                <input type="text" name="content"> 
                <button type="submit">Comment</button>
                </form>

        </li>
    }
</ul>