@page
@model IndexModel
@inject Project_Hashtag.Data.AccessControl accessControl
@{
    ViewData["Title"] = "Facegram";
}

@if (Model.TimeLineMode)
{
    <link rel="stylesheet" href="~/css/test.css" asp-append-version="true">
}
else
{
    <form method="get" id="timeLineInput">
        <p>Check out the timeline mode for a different feed!</p>
        <input type="hidden" name="timeLine" value="true" />
        <button type="submit">Timeline <img src="~/timeline.png"/></button>
    </form>

}

<div class="spacerTop"></div>
<ul class="flow">
    <label id="scrollButtonContainer">
        <button id="scrollButton"></button>
    </label>
    <li class="addNewPost showing">
        <form method="post" enctype="multipart/form-data">
            <div id="newPostTitle">
                <img class="pic-top" src="@Model.database.Users.Single(x => x.ID == @Model.LoggedIn.LoggedInAccountID).Avatar" alt="Error">
                <textarea required name="desc" placeholder="What's happening?" rows="1" oninput="autoExpand(this)"></textarea>
                <span asp-validation-for="desc" class="text-danger"></span>
            </div>
            <div id="addPostBottom">
                <div id="addTag">
                    <p>Tag </p>
                    <img src="~/hashtag.png" />
                    <input type="text" name="tag" autocomplete="off" maxlength="20" />
                </div>
                <p class="imageText">Picture: </p>
                <label id="addPic">
                    <input type="file" name="photo" id="photo-input">
                    <span id="file-label"></span>
                </label>
                <button type="submit">Post</button>
            </div>
        </form>
    </li>

    <div id="banderoll1">
        <h3># Following</h3>
    </div>
    <div class="spacer"></div>

    @if (Model.FollowingPosts.Count() == 0)
    {
        <li id="followPrompt">
            <img src="~/followbirdie.png" />
            <p>It's empty here!</p>
            @if (Model.FollowingIds.Count == 0)
            {
                <p>Follow other users to prioritize their posts.</p>
            }
            else
            {
                <p>No one you follow has updated lately :(</p>
            }
        </li>
    }

    @for (int i = 0; i < Model.FollowingPosts.Count() + Model.OtherPosts.Count(); i++)
    {
        var post = Model.Post;

        if (i < Model.FollowingPosts.Count())
        {
            post = Model.FollowingPosts[i];
        }
        else
        {
            post = Model.OtherPosts[i - Model.FollowingPosts.Count()];
        }
        if (i == Model.FollowingPosts.Count())
        {
            <div id="banderoll2">
                <h3># Explore</h3>
            </div>
            <div class="spacer"></div>
        }

        string classType = "item-type-" + (i % 6 + 1);

        var reportedByUser = @Model.database.Reports.Any(x => x.UserID == Model.LoggedIn.LoggedInAccountID && x.PostID == post.ID);
        var reports = @Model.database.Reports.Where(r => Model.FollowingIds.Contains(r.UserID) && r.PostID == post.ID).Count();
        var poster = Model.Users.Single(x => post.UserID == x.ID);

        if (post.UserID == Model.LoggedIn.LoggedInAccountID && !Model.TimeLineMode)
        {
            continue;
        }



        <li id="@post.ID" class="@classType animatePost @(i < 2 ? "showing" : "")" data-tag="@post.Tag">

            @if (Model.TimeLineMode)
            {
                @if (post == Model.MostLiked)
                {
                    <div id="mostLiked">
                        <div></div>
                        <h2> Most Likes</h2>
                    </div>
                }
                @if (post == Model.MostComments)
                {
                    <div id="mostComments">
                        <div></div>
                        <h2> Most Comments</h2>
                    </div>
                }
                @if (post == Model.MostReports)
                {
                    <div id="mostReports">
                        <div></div>
                        <h2> Most Reports</h2>
                    </div>
                }

            }

            @if (reports == 1)
            {
                <div class="reportWarning"> <img src="~/information.png" /> <p> @reports person you follow has reported this post as untrustworthy.</p></div>
            }
            else if (reports > 0)
            {
                <div class="reportWarning"> <img src="~/information.png" /> <p> @reports people you follow have reported this post as untrustworthy.</p></div>
            }
            <div class="postProfile">
                <a asp-page="Profile" asp-route-userId="@poster.ID" class="postProfileBox">
                    <img class="pic-top" src="@poster.Avatar" alt="error">
                    <pre>@poster.Name</pre>
                </a>

                @if (reportedByUser)
                {
                    <label class="report reported"> <button class="popupButton"></button> </label>
                }
                else
                {
                    <label class="report"> <button class="popupButton"></button> </label>
                }

                <p>· @post.TimeSincePost()</p>
            </div>

            @*

        Below is the report popup

        *@
            <div class="popupForm" style="display: none;">
                @if (reportedByUser)
                {
                    <p>Do you want to remove your report on this post?</p>
                }
                else
                {
                    <p>Do you want to report this post?</p>
                }
                <form method="post" asp-page-handler="report" asp-route-id="@post.ID"> <button type="submit">Yes</button> </form>
                <button id="closeButton">No</button>
            </div>


            <p class="postText"> @post.Description</p>
            @if (post.PictureUrl != null)
            {
                <div class="image">
                    <img src="@post.PictureUrl" alt="Error loading picture" />
                </div>
            }
            <div class="interaction">
                <form method="post" asp-page-handler="like" asp-route-id="@post.ID">
                    @if (Model.TimeLineMode)
                    {
                        <input type="hidden" name="timeLine" value="true" />
                    }
                    @if (post.IsLiked(Model.LoggedIn.LoggedInAccountID, Model.database))
                    {
                        <label id="like" class="liked">
                            <button type="submit"></button>
                            <p>@post.LikeCount</p>
                        </label>
                    }
                    else
                    {
                        <label id="like">
                            <button type="submit"></button>
                            <p>@post.LikeCount</p>
                        </label>
                    }
                </form>
                <a asp-page="post" asp-route-postID="@post.ID" class="commentContainer">
                    <div class="comments">
                    </div>
                    <p class="commentCount">@Model.Comments.Where(x => x.PostID == post.ID).Count()</p>
                </a>
                @if (post.Tag != "" && post.Tag != null)
                {
                    <form method="get" asp-page="Search" class="tagContainer">
                        <input type="hidden" name="search" value="@post.Tag">
                        <label class="tags">
                            <button type="submit"></button>
                            <p>@post.Tag</p>
                        </label>
                    </form>
                }
            </div>
            @if (@Model.Comments.Where(x => x.PostID == post.ID).Count() > 0)
            {
                <p class="commentSectionText">Comments: <a asp-page="post" asp-route-postID="@post.ID"> View all</a> </p>
                @for (int j = 0; j < Math.Min(3, Model.Comments.Where(c => c.PostID == post.ID).Count()); j++)
                {
                    var comment = @Model.Comments.Where(c => c.PostID == post.ID).OrderByDescending(c => c.CreatedDate).ToList()[j];
                    <div id="comment">
                        <div class="commentProfilePic">
                            <a asp-page="Profile" asp-route-userId="@comment.User.ID">
                                <img src="@comment.User.Avatar" class="pic-top" />
                            </a>
                        </div>
                        <div class="commentText">
                            <a asp-page="Profile" asp-route-userId="@comment.User.ID"> @comment.User.Name</a>
                            <p>@comment.Text </p>
                        </div>
                    </div>
                    <p class="commentTime">@comment.TimeSinceComment()</p>

                }
            }
            <form method="post" asp-page-handler="comment" asp-route-id="@post.ID" id="postComment">
                <img class="pic-top" src="@Model.database.Users.Single(x => x.ID == @Model.LoggedIn.LoggedInAccountID).Avatar" alt="error">
                <textarea required name="content" placeholder="Add a comment..." rows="1" oninput="autoExpand(this)"></textarea>
                <input hidden name="userId" value="@post.UserID">
                <button type="submit">Comment</button>
            </form>
        </li>
    }
</ul>

