@page
@model Project_Hashtag.Pages.ProfileSettingsModel
@inject Project_Hashtag.Data.AccessControl accessControl
@inject Project_Hashtag.Data.AppDbContext database
@{
}

<div id="ProfileSettingsDiv">
	<h1>Edit Profile</h1>
	<p>@Model.User.Name</p>
	<div class="editBio">
		<aside class="leftBio">
			<label for="bio">Biography</label>
		</aside>
		<div class="rightBio">
			<form method="post" asp-page-handler="biography">

				<input hidden name="userId" value="@Model.User.ID">
				<textarea name="content" id="bio" type="text" oninput="autoExpand(this)">@Model.User.Biography</textarea>
				<button type="submit">Update bio</button>
			</form>
		</div>
	</div>
	<h3>Choose a new profile picture: </h3>
	<div class="editBio">
		<aside class="leftBio">
			<img src="@Model.User.Avatar" />
		</aside>
		<div class="rightBio">
			<form method="post" enctype="multipart/form-data">
				<input type="file" name="photo" required>
				<button type="submit">Update picture</button>
			</form>
		</div>
		
	</div>
	<a asp-page="Profile" asp-route-userId="@accessControl.LoggedInAccountID">
		<button id="backToProfileButton">Back To Profile</button>
	</a>
	
</div>
