@page
@model Project_Hashtag.Pages.SearchModel
@{
    ViewData["Title"] = "Facegram";
}

<h2>Search results:</h2>


<h3>Matching users:</h3>

<ul class="flow">

    <li>

    @foreach(var user in Model.QueriedUsers)
    {
            <p>
                <a asp-page="Profile" asp-route-userId="@user.ID"> <pre> @user.Name</pre></a>
            </p>
    }
    </li>

</ul>

<h3>Matching posts:</h3>


<ul class="flow">
	@foreach (var post in Model.QueriedPosts)
    {
        var reports = @Model.database.Reports.Where(r => Model.PeopleYouFollow.Select(p => p.UserID).Contains(r.UserID) && r.PostID == post.ID).Count();
        var poster = Model.Users.Single(x => post.UserID == x.ID);
        if (post.UserID == Model.LoggedIn.LoggedInAccountID)
        {
            continue;
        }
        <li>
            @if (reports == 1)
            {
                <div class="reportWarning"> <img src="~/information.png" /> <p> @reports person you follow has reported this post as untrustworthy.</p></div>
            }
            else if (reports > 0)
            {
                <div class="reportWarning"> <img src="~/information.png" /> <p> @reports people you follow have reported this post as untrustworthy.</p></div>
            }
            <div class="postProfile">
                <a asp-page="Profile" asp-route-userId="@poster.ID" class="postProfileBox">
                    <img class="pic-top" src="@poster.Avatar" alt="error">
                    <pre>@poster.Name</pre>
                </a>
                <p>· @post.TimeSincePost()</p>
                <form method="post" asp-page-handler="report" asp-route-id="@post.ID"> <label class="report">
                    <input type="hidden" name="search" value="@Request.Query["search"]" />
                    <button type="submit"></button> </label></form>
            </div>
            <p class="postText"> @post.Description</p>
            @if (post.PictureUrl != null)
            {
                <div class="image">
                    <img src="@post.PictureUrl" alt="Error loading picture" />
                </div>
            }
            <div class="interaction">
                <form method="post" asp-page-handler="like" asp-route-id="@post.ID">
                    <label>
                        <input type="hidden" name="search" value="@Request.Query["search"]" />
                        <button type="submit"></button>
                        <p>@post.LikeCount</p>
                    </label>
                </form>
                <a asp-page="post" asp-route-postID="@post.ID">
                    <div class="comments">
                    </div>
                    <p class="commentCount">@Model.Comments.Where(x => x.PostID == post.ID).Count()</p>
                </a>
            </div>

            <p>Comments: </p>
            @for (int i = 0; i < Math.Min(3, Model.Comments.Where(c => c.PostID == post.ID).Count()); i++)
            {
                var comment = @Model.Comments.Where(c => c.PostID == post.ID).OrderByDescending(c => c.CreatedDate).ToList()[i];
                <div class="postProfile">
                    <a asp-page="Profile" asp-route-userId="@comment.User.ID" class="postProfileBox">
                        <div class="profilePic"> </div>
                        <pre>@comment.User.Name</pre>
                    </a>
                </div>
                <p>@comment.Text </p>
                <p>@comment.TimeSinceComment()</p>
                if (comment.UserID == Model.LoggedIn.LoggedInAccountID)
                {
                    <form method="post" asp-page-handler="DeleteComment" asp-route-commentId="@comment.Id">
                        <input type="hidden" name="search" value="@Request.Query["search"]" />
                        <button type="submit">Delete</button>
                    </form>
                }

            }
            <form method="post" asp-page-handler="comment" asp-route-postID="@post.ID">
                <input type="text" name="content">
                <input type="hidden" name="search" value="@Request.Query["search"]" />
                <button type="submit">Comment</button>
            </form>
        </li>
    }
</ul>


